#img1{
height: 500px; width: 1202px;text-align: center;  padding-bottom: 10px;
}
#img2{ height: 80px; padding-left: 500px;
    text-align: center;padding-left: 570PX;width: 80px;

}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    margin-left: 1px;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
 button{
    border-radius: 10px;
    border-color: greenyellow;
    background-color:rgb(253, 253, 253)
 }
 #img5{
    display: block;
    width: 50%;
    float: left;
 }
 div{
background-color: rgb(255, 255, 255);
 }
 #div1{
display: flex;
float: left;
    width: 500px;
    height: 150px;
   
    
 }
 #pic{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }